<div class="indexbg" style="margin:0px 0px 15px 0px; padding:0 0px 0 0px;">
          <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td height="35" align="left" valign="middle" class="red_lucida">:<em>: <%= t 'layout.about_us'-%> :: </em></td>
                <td align="center" valign="middle">&nbsp;</td>
              </tr>
              <tr>
                <td align="left" valign="top" style="width:900;"><p><span class="red_lucida"><em>La  Fromagerie</em></span><span class="style5"><em><%=t 'about-us.first'-%> </em><br />
                          <em><%=t 'about-us.second'-%></em><br />
                </span></p></td>
                <td style="width:30;" align="center" valign="middle"><img src="/images/event3.jpg" alt="Events" width="220" height="150" class="all_border" zoom="100%" /></td>
              </tr>
              <tr>
                <td colspan="2" align="left" valign="top" style="width:900;"><span class="patrner"><em class="red_lucida">La  Fromagerie </em></span><em class="style5"><%=t 'about-us.third'-%></em></td>
              </tr>
            </table>
</div>
</div>
<div style="background: #cdcc00;">&nbsp</div>
<div id="container">
<div class="contentbox">
<div class="indexbg" style="margin:0px 0px 15px 0px; padding:0 5px 0 15px;">
          <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
            
            
            <tr>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="35" colspan="2" align="left" valign="middle"><span class="patrner" style="font-family:'Lucida Sans'"><em><%=t 'about-us.fourth'-%></em></span></td>
                  </tr>
                  <tr>
                    <td width="180"><img src="/images/event4.jpg" alt="Events" width="150" height="130" class="all_border" /></td>
                    <td align="left" valign="middle"><p class="style5"><%=t 'about-us.fifth'-%></p></td>
                  </tr>
              </table></td>
            </tr>
            <tr>
              <td height="25" align="left" valign="bottom"><p class="style7" style="font-family:'Lucida Sans'"><%=t 'about-us.sixth'-%></p></td>
            </tr>
            <tr>
              <td align="left" valign="top" class="style5"><p><strong><%=t 'about-us.eighth'-%> <em class="red_lucida">La  Fromagerie </em><%=t 'about-us.seventh'-%><br><%=t 'about-us.ninth'-%> </strong></p></td>
            </tr>
          </table>
       </div>
</div>
