<div> 
    
      <div >
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="indexbg" style="font-family: Lucida Sans;">
          <tr>
            <td height="35" id="indexcontent" align="left" valign="bottom" class="red_lucida">&nbsp;&nbsp;&nbsp;::<em> <%=t 'layout.partners'-%> :: </em></td>
          </tr>
          <tr>
            <td align="center" id="indexcontent" valign="top" >
			<div style="margin:10px 10px 10px 0px; padding:0 5px 0 15px; ">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top" id="indexcontent"><div style="padding:0 5px 0 0; margin:0 10px 0 0 ; background:#fff;">
                  <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">

                    <tr>
                      <td align="left" id="indexcontent" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="left" id="indexcontent" valign="top" class="red_lucida2"><em>La Fromagère de la Brie</em></td>
                          </tr>
                          <tr>
                            <td align="left" id="indexcontent" valign="top" class="textnormal_14_lucida"><strong><%=t 'partners.LFdlB'-%></strong></td>
                          </tr>
                          <tr>
                            <td align="left" id="indexcontent" valign="top" class="textnormal_12_lucida">&nbsp;</td>
                          </tr>
                          
                      </table></td>
                      </tr>
                  </table>
                </div></td>
                <td width="12" id="indexcontent" valign="top"><img src="/images/part_1.jpg" alt="Part" width="180" height="130" /></td>
                <td>&nbsp;</td>
              </tr>
            </table>
			</div>			</td>
          </tr>
          
          <tr>
            <td align="center" id="indexcontent" valign="top" ><div style="margin:10px 10px 10px 0px; padding:0 5px 0 15px; ">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td valign="top" id="indexcontent"><div style="padding:0 5px 0 0; margin:0 10px 0 0 ; background:#fff;">
                      <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                          <td align="left" id="indexcontent" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td align="left" id="indexcontent" valign="top" class="red_lucida2"><em>Isigny Sainte M&egrave;re</em></td>
                            </tr>
                            <tr>
                              <td align="left" id="indexcontent" valign="top" class="textnormal_14_lucida"><strong><%=t 'partners.isigny'-%></strong></td>
                            </tr>
                            <tr>
                              <td align="left" id="indexcontent" valign="top" class="textnormal_12_lucida">&nbsp;</td>
                            </tr>
                          </table></td>
                        </tr>
                      </table>
                  </div></td>
                  <td width="12" id="indexcontent" valign="top"><img src="/images/part_2.jpg" alt="Part" width="180" height="130" /></td>
                  <td>&nbsp;</td>
                </tr>
              </table>
            </div></td>
          </tr>
          
          <tr>
            <td align="center" id="indexcontent" valign="top"><div style="margin:10px 10px 10px 0px; padding:0 5px 0 15px; ">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td valign="top" id="indexcontent"><div style="padding:0 5px 0 0; margin:0 10px 0 0 ; background:#fff;">
                      <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                          <td align="left" id="indexcontent" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td align="left" id="indexcontent" valign="top" class="red_lucida2"><em>Joseph Paccard</em></td>
                            </tr>
                            <tr>
                              <td align="left" id="indexcontent" valign="top" class="textnormal_14_lucida"><strong><%=t 'partners.josseph'-%></strong></td>
                            </tr>
                            <tr>
                              <td align="left" id="indexcontent" valign="top" class="textnormal_12_lucida">&nbsp;</td>
                            </tr>
                          </table></td>
                        </tr>
                      </table>
                  </div></td>
                  <td width="12" id="indexcontent" valign="top"><img src="/images/part_3.jpg" alt="Part" width="180" height="130" /></td>
                  <td>&nbsp;</td>
                </tr>
              </table>
            </div></td>
          </tr>
          <tr>
            <td align="center" id="indexcontent" valign="top"><div style="margin:10px 10px 10px 0px; padding:0 5px 0 15px; ">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td valign="top" id="indexcontent"><div style="padding:0 5px 0 0; margin:0 10px 0 0 ; background:#fff;">
                      <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                          <td align="left" id="indexcontent" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td align="left" id="indexcontent" valign="top" class="red_lucida2"><em>Marcel Petite</em></td>
                            </tr>
                            <tr>
                              <td align="left" id="indexcontent" valign="top" class="textnormal_14_lucida"><strong><%=t 'partners.marcel'-%></strong></td>
                            </tr>
                            <tr>
                              <td align="left" id="indexcontent" valign="top" class="textnormal_12_lucida">&nbsp;</td>
                            </tr>
                          </table></td>
                        </tr>
                      </table>
                  </div></td>
                  <td width="12" valign="top" id="indexcontent"><img src="/images/part_4.jpg" alt="Part" width="180" height="130" /></td>
                  <td>&nbsp;</td>
                </tr>
              </table>
            </div></td>
          </tr>
          
          <tr>
            <td align="left" valign="top" id="indexcontent"><div  style="overflow: hidden; position: absolute; width: 640px; height: 145px; z-index: 100; left: 0pt; top: 135px; visibility: hidden;"> </div></td>
          </tr>
          
          
          
          <tr>
            <td align="center" valign="top" id="indexcontent"><div style="margin:10px 10px 10px 0px; padding:0 5px 0 15px; ">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td valign="top" id="indexcontent"><div style="padding:0 5px 0 0; margin:0 10px 0 0 ; background:#fff;">
                      <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                          <td align="left" id="indexcontent" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td align="left" id="indexcontent" valign="top" class="red_lucida2"><em>P. Jacquin &amp; Fils</em></td>
                            </tr>
                            <tr>
                              <td align="left" id="indexcontent" valign="top" class="textnormal_14_lucida"><strong><%=t 'partners.p-jacquin'-%> </strong></td>
                            </tr>
                            <tr>
                              <td align="left" id="indexcontent" valign="top" class="textnormal_12_lucida">&nbsp;</td>
                            </tr>
                          </table></td>
                        </tr>
                      </table>
                  </div></td>
                  <td width="12" valign="top" id="indexcontent"><img src="/images/part_5.jpg" alt="Part" width="180" height="130" /></td>
                  <td>&nbsp;</td>
                </tr>
              </table>
            </div></td>
          </tr>
          
          <tr>
            <td align="center" id="indexcontent" valign="top"><div style="margin:10px 10px 10px 0px; padding:0 5px 0 15px; ">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td valign="top" id="indexcontent"><div style="padding:0 5px 0 0; margin:0 10px 0 0 ; background:#fff;">
                      <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                          <td align="left" id="indexcontent" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td align="left" id="indexcontent" valign="top" class="red_lucida2"><em>Andr&eacute; Bruel</em></td>
                            </tr>
                            <tr>
                              <td align="left" id="indexcontent" valign="top" class="textnormal_14_lucida"><strong><%=t 'partners.andre'-%></strong></td>
                            </tr>
                            <tr>
                              <td align="left" id="indexcontent" valign="top" class="textnormal_12_lucida">&nbsp;</td>
                            </tr>
                          </table></td>
                        </tr>
                      </table>
                  </div></td>
                  <td width="12" valign="top" id="indexcontent"><img src="/images/part_6.jpg" alt="Part" width="180" height="130" /></td>
                  <td>&nbsp;</td>
                </tr>
              </table>
            </div></td>
          </tr>
        </table>
      </div>
      
      
        
    </div>   