<div class="indexbg" style="margin:0px 0px 15px 0px; padding:0 5px 0 15px;">
<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td height="35" align="left" valign="middle" class="red_lucida">:<em>: <%=t 'contact-us.title'-%> :: </em></td>
	</tr>
    <tr>
    	<td height="25" align="center" valign="middle" class="red_lucida"><%=t 'contact-us.find-our-product-title'-%></td>
    </tr>
    <tr>
         <td align="center" valign="top" class="textnormal_14_lucida"><div align="center"><%=t 'contact-us.find-our-product'-%></div></td>
    </tr>
    <tr>
         <td align="left" valign="top">&nbsp;</td>
    </tr>
                      <tr>
                        <td align="center" valign="top" class="red_lucida"><%=t 'contact-us.to-order-title'-%></td>
                      </tr>
                      <tr>
                        <td align="left" valign="top" class="textnormal_14_lucida"><p align="center"><%=t 'contact-us.to-order'-%></td>
                      </tr>
                      <tr>
                        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td valign="bottom" width="33%"><span class="textnormal12red">La Fromagerie Fresh Food Pvt. Ltd.<br />
								No. 88, 11th Cross, 1st Stage<br />
								Indiranagar, Bangalore 560 038<br />
								Ph: 080 2521 9675<br />
								www.cheeseexpress.co.in <br />
								Email : <a href="mailto:daniel@cheeseexpress.co.in">daniel@cheeseexpress.co.in
                            <br />
                            <br />
							</a></span>
						  </td>
                          <td><img src="/images/contact.jpg" alt="Cinta" width="300" height="214" class="all_border" /></td>
                      </tr>
                    </table>
                  </div>
		</td>
	</tr>
</table>
</div>
