<script type="text/javascript">
	Event.observe(window, 'load', function(event) { $('cheese_library_cheese_title').focus();} );
</script>
<table class="master_form" cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr valign="top">
		<td align="right" width="30%">
			<span class="required">*</span>
			<span class="bold"><%= t 'New_cheese.cheese-title'-%>: </span>
		</td>
		<td align="left" width="70%">
			<%= f.text_field :cheese_title, {:size => 30, :maxlength => 50} %>
		</td>
	</tr>
	<tr>
		<td align="right" width="30%">
			<span class="required">*</span>
			<span class="bold"><%= t 'New_cheese.description'-%></span>(<%=t 'recipes.limit'-%>):
		</td>
		<td align="left" width="70%">
			<%= f.text_area(:description, :size => "80x3") %>
		</td>
	</tr>
	<tr>
		<td align="right" width="30%">
			<span class="required">*</span>
			<span class="bold"><%= t 'New_cheese.description-in-french'-%></span>(<%=t 'recipes.limit'-%>):
		</td>
		<td align="left" width="70%">
			<%= f.text_area(:description_in_french, :size => "80x3") -%>
		</td>
	</tr>
	<tr>
		<td align="right" width="30%">
			<span class="required">*</span>
			<span class="bold"><%=t 'New_cheese.wine-description'-%></span>(<%=t 'recipes.limit'-%>):
		</td>
		<td align="left" width="70%">
			<%= f.text_area(:wine_description, :size => "80x3") -%>
		</td>
	</tr>
	<tr>
		<td align="right" width="30%">
			<span class="required">*</span>
			<span class="bold"><%=t 'New_cheese.wine-description-in-french'-%></span>(<%=t 'recipes.limit'-%>):
		</td>
		<td align="left" width="70%">
			<%= f.text_area(:wine_description_in_french, :size => "80x3") %>
		</td>
	</tr>
	<tr>
		<td align="right" width="30%">
			<span class="required">*</span>
			<span class="bold"><%= t 'New_cheese.cheese-image'-%>:</span>
		</td>
		<td align="left" width="70%">
			<%= f.file_field :cheese_image, :accept => 'image/jpg' -%>
			<%= t 'New_cheese.acceptable-file'-%>
			<% if params[:action]=="edit"%>
			<br />
			<span class="bold">Image: </span><%=@cheese.cheese_image_file_name-%> is attached.
			<%end%>
		</td>
	</tr>
	<tr valign="top">
		<td align="right" width="30%">
			<span class="required">*</span>
			<span class="bold">Wine Image</span>
		</td>
		<td align="left" width="70%">
			<%= f.file_field :wine_image, :accept => 'image/jpg' -%>
			<%= t 'New_cheese.acceptable-file'-%>
			<% if params[:action]=="edit"%>
			<br />
			<span class="bold">Image: </span><%=@cheese.wine_image_file_name-%> is attached.
			<%end%>
		</td>
	</tr>

	<% if I18n.locale == "en"%> 
	<tr valign="top">
		<td align="right" width="30%">
			<span class="bold"><%= t 'New_cheese.type-of-milk'-%>:</span>
		</td>
		<td align="left" width="70%">
			<%= select_tag("cheese[milk]", options_for_select(@milk_type_arr, @selected_milk_type)) %>
		</td>
	</tr>
    <% else %>
      <tr valign="top">
		<td align="right" width="30%">
			<span class="bold"><%= t 'New_cheese.type-of-milk'-%>:</span>
		</td>
		<td align="left" width="70%">
			<%= select_tag("cheese[milk]", options_for_select([["Lait de Vache"], ["Lait de Chèvre"], ["Lait de brebis"]], @selected_milk_type)) %>
		</td>
	</tr>
    <% end %>
	<tr valign="top">
		<td align="right" width="30%">
			<span class="required">*</span>
			<span class="bold"><%= t 'New_cheese.milk'-%>:</span>
		</td>
		<td align="left" width="70%">
			<%= f.text_field :cheese_milk, {:size => 30, :maxlength => 50} %>
		</td>
	</tr>
	<tr valign="top">
		<td align="right" width="30%">
			<span class="required">*</span>
			<span class="bold"><%= t 'New_cheese.milk-in-french'-%>:</span>
		</td>
		<td align="left" width="70%">
			<%= f.text_field :milk_in_french, {:size => 30, :maxlength => 50} %>
		</td>
	</tr>
	<tr valign="top">
		<td align="right" width="30%">
			<span class="bold"><%= t 'New_cheese.region'-%>: </span>
		</td>
		<td align="left" width="70%">
			<%= select_tag("cheese[region]", options_for_select(@region_arr, @selected_region)) %>
		</td>
	</tr>
	<tr valign="top">
		<td align="right" width="30%">
			<span class="required">*</span>
			<span class="bold"><%= t 'New_cheese.average-weight'-%>: </span>
		</td>
		<td align="left" width="50%">
			<%= f.text_field :average_weight, {:size => 15, :maxlength => 50} %> (e.g. 1 kg 50 gram)
		</td>
	</tr>
	<tr valign="top">
		<td align="right" width="30%">
			<span class="bold"><%= t 'New_cheese.type-of-cheese'-%>: </span>
		</td>
		<td align="left" width="70%">
		<% if I18n.locale == "en" %>
			<span align="left"><%= select_tag("cheese[type]", options_for_select(@cheese_type_arr, @selected_cheese_type), :onChange => 'formulaire.submit()') %></span>
		<% else %>
			<span align="left"><%= select_tag("cheese[type]", options_for_select([["Pâte molle"],["Pâte molle à croûte fleurie"],["Pâte persillée"],["Pâte molle à croûte lavée"],["Pâte pressée cuite"],["Pâte pressée non cuite"]], @selected_cheese_type)) %></span>
		<% end %>
		</td>
	</tr>
	<tr valign="top">
		<td align="right" width="30%">
			<span class="bold"><%= t 'New_cheese.aoc'-%>: </span>
		</td>
		<td align="left" width="70%">
			<%= f.select :aoc, [[I18n.locale == "en" ? "Yes" : "Oui"], [I18n.locale == "en" ? "No" : "Non"]] %>
		</td>
	</tr>
	<tr valign="top">
		<td align="right" width="30%">
			<span class="required">*</span>
			<span class="bold"><%= t 'New_cheese.fat-percentage'-%>: </span>
		</td>
		<td align="left" width="70%">
			<%= f.text_field :fat_content, {:size => 10, :maxlength => 50} %> %
		</td>
	</tr>
	<tr valign="top">
		<td align="right" width="30%">
			<span class="required">*</span>
			<span class="bold"><%= t 'New_cheese.maturing-period-english'-%>: </span>
		</td>
		<td align="left" width="70%">
			<%= f.text_field :maturing_period_in_english, {:size => 10, :maxlength => 50} %>
		</td>
	</tr>
	<tr valign="top">
		<td align="right" width="30%">
			<span class="required">*</span>
			<span class="bold"><%= t 'New_cheese.maturing-period-french' -%>: </span>
		</td>
		<td align="left" width="70%">
			<%= f.text_field :maturing_period_in_french, {:size => 10, :maxlength => 50} %>
		</td>
	</tr>
	<tr>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr valign="top">
		<td align="center" colspan="2">
			<%= f.submit button_text, :disable_with => 'please wait ...'%>
			<input name="Reset" value=<%=t 'New_cheese.reset'-%> type="reset"/>
			<%= f.submit t 'New_cheese.cancel', :disable_with => 'please wait ...'%>
		</td>
	</tr>
</table>
